<div class="aj-main-content" layout="row" layout-wrap flex>
	<md-grid-list md-cols="2" md-row-height="3:2" md-gutter="10px" ng-cloak flex>
		<md-grid-tile>
			<div flex>
				<md-toolbar><div class="md-toolbar-tools">Test submissions by date</div></md-toolbar>
				<canvas class="chart chart-line md-whiteframe-z1" chart-data="lineData" chart-labels="lineLabel" flex>
				</canvas>
			</div>
		</md-grid-tile>
		<md-grid-tile>
			<div flex>
				<md-toolbar><div class="md-toolbar-tools">Test submissions by date</div></md-toolbar>
				<canvas class="chart chart-line md-whiteframe-z1" chart-data="lineData" chart-labels="lineLabel" flex>
				</canvas>
			</div>
		</md-grid-tile>
		<md-grid-tile>
			<div flex>
				<md-toolbar><div class="md-toolbar-tools">Test submissions by date</div></md-toolbar>
				<canvas class="chart chart-line md-whiteframe-z1" chart-data="lineData" chart-labels="lineLabel" flex>
				</canvas>
			</div>
		</md-grid-tile>
		<md-grid-tile>
			<div flex>
				<md-toolbar><div class="md-toolbar-tools">Test submissions by date</div></md-toolbar>
				<canvas class="chart chart-line md-whiteframe-z1" chart-data="lineData" chart-labels="lineLabel" flex>
				</canvas>
			</div>
		</md-grid-tile>
	</md-grid-list>
<div>